/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Пользовательские стили
  ========================================
*/

body{	
	background: url("images/bg.png");
	font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
}

/*
  ========================================
  Header
  ========================================
*/

header{
	box-sizing: border-box;
	padding-top: 30px;
	margin-bottom: 50px;
	text-align:center;
}

header a{
    text-decoration: none;
}

.logo{
  	font-family: "Lobster 1.4", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 49px;
	color: #7173b4;
}

/*
  ========================================
  Верхнее навигационное меню
  ========================================
*/

.top_menu{
	box-sizing: border-box;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 10px;
	clear: both;
}

.top_menu ul {
  font: bold 14px 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.top_menu li {
  display: inline-block;
}

.top_menu a {
  background: #fff;
  color: #ffa320;
  padding: 12px 20px;
  text-decoration: none;
}
.top_menu a:hover {
  background: #ffa320;
  color: #fff;
}

/*
  ========================================
  Main
  ========================================
*/

main{
	box-sizing: border-box;
	width: 800px;
	height: 1000px;
	margin: 0 auto;
	padding: 30px;
	background: #fff;
}

main > nav{
	box-sizing: border-box;
	float:right;
	margin: 0;
	width: 250px;
}

section{
	box-sizing: border-box;
	float: right;
	margin: 0;
	width: 550px;
}